<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE weapon>
<weapon>
  <gun>
    <pistol>
      <clipSize>10</clipSize>
      <pocketSize>30</pocketSize>
      <standardBulletSpeed>?</standardBulletSpeed>
      <standardBulletLifetime>?</standardBulletLifetime>
      <standardBulletDamage>?</standardBulletDamage>
      <standardMeleeDamage>?</standardMeleeDamage>
      <standardMaxThrowDamage></standardMaxThrowDamage>
      <standardReloadTime>?</standardReloadTime>
      <standardRecoilTime>?</standardRecoilTime>
      <standardThrowLoadTime>?</standardThrowLoadTime>
    </pistol>
  </gun>
  <melee>
    <sword>
      <standardMeleeDamage>?</standardMeleeDamage>
      <standardMaxThrowDamage>?</standardMaxThrowDamage>
      <standardRecoilTime>?</standardRecoilTime>
      <standardThrowLoadTime>?</standardThrowLoadTime>
    </sword>
  </melee>
</weapon>